
h1 {
    color: black;
    text-align: center;
  }
#subtitle {
    color: black;
    text-align: center;
  }

header {
  background: linear-gradient(aquamarine, teal);
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

footer {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}